{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lider{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "includes/header.html" %}

    <main>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

    {% block extra_js %}{% endblock %}
</body>
</html>
